.QuestionDetail__title {
  font-size: 24px;
  line-height: 2;
}

.QuestionDetail__options {
  margin-top: 20px;
}

.QuestionDetail__option {
  margin-top: 20px;

  .ant-checkbox-wrapper {
    font-size: 18px;
    line-height: 2;
  }
}

.QuestionDetail__button {
  margin-top: 20px;
}
.QuestionDetail__result {
  margin-top: 20px;
}

.QuestionDetail__result__success{

}
.QuestionDetail__result__error{
    
}
.QuestionDetail__successResult {
  margin-top: 20px;
}
